<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create spending</title>
</head>
<body>
<h1>Create spending</h1>
<p>
  <a href="/spendings">Spending list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-spending}" th:object="${spendingForm}" method="post"
      novalidate="novalidate" enctype="multipart/form-data">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" th:field="*{price}"/></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" th:field="*{description}"/></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><input type="text" th:field="*{category}"/></td>
    </tr>
    <tr>
      <td>Picture:</td>
      <td><input type="file" th:field="*{picture}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create spending"></td>
    </tr>
  </table>
</form>
</body>
</html>